{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Analise e Investigação de Transações Financeiras</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Importar Transações</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="notification {{ message.tags }}" role="alert">
                    <button class="delete"></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <div class="file is-info has-name" id="fileInput">
                    <label class="file-label">
                        {{ form.arquivo }}
                        <span class="file-cta">
                            <span class="file-icon">
                                <ion-icon name="cloud-upload-outline"></ion-icon>
                            </span>
                            <span class="file-label">
                                Selecione o arquivo
                            </span>
                        </span>
                        <span class="file-name">
                            Nenhum arquivo selecionado
                        </span>
                    </label>
                </div>
                {% if form.arquivo.errors %}
                    <p class="help is-danger">{{ form.arquivo.errors.0 | escape }}</p>
                {% endif %}
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary">Importar</button>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Tabela de Importações realizadas com o titulo no centro -->
<!-- Data Transações e Data Importação -->
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Transações</h1>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <td style="font-weight: bold">Data Transação</td>
                <td style="font-weight: bold">Data Importação</td>
            </tr>
            </thead>
            <tbody>
            {% for transacao in transacoes %}
                <tr>
                    <td>{{ transacao.data_hora }}</td>
                    <td>{{ transacao.arquivo.created_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script src="{% static 'transacao/js/fileInput.js' %}"></script>
<script src="{% static 'transacao/js/notification.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>