{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% include 'partials/navbar.html' %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <div class="box">
                        <h1 class="title has-text-centered">Entrar</h1>

                        {% if form.errors %}
                            <div class="notification is-danger">
                                <p>Email ou senha inválidos</p>
                            </div>
                        {% endif %}

                        <form method="post" action="{% url 'user:login' %}">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                    <input class="input" type="email" name="username" placeholder="Email">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Senha</label>
                                <div class="control">
                                    <input class="input" type="password" name="password" placeholder="Senha">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary">Entrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}